<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="box">
      <%= form_for :user, url: login_path do |f| %>
        <h1 class="title">Log in</h1>

        <div class="field">
          <%= f.label :name, 'Name', class: 'label' %>
          <div class="control">
            <%= f.text_field :name, required: true, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password, 'Password', class: 'label' %>
          <div class="control">
            <%= f.password_field :password, required: true, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.submit '送出', class: 'button is-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
