<%= render partial: 'form_errors', locals: { resource: @user } %>

<%= form_for @link do |f| %>
  <div class="box">
    <div class="field">
      <%= f.label :title, '標題', class: 'label' %>
      <div class="control">
        <%= f.text_field :title, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= f.label :pixel_event_name, 'Pixel Event Name', class: 'label' %>
      <div class="control">
        <%= f.text_field :pixel_event_name, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= f.label :target_url, '導向網址', class: 'label' %>
      <div class="control">
        <%= f.text_field :target_url, value: (f.object.target_url || 'http://'), class: 'input', required: true %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Submit', class: 'button is-primary' %>
    <%= link_to 'Cancel', links_path, class: 'button is-link' %>
  </div>

  <script>
    $(document).ready(function(){
      $('.field_with_errors input').focus(function(){
        $(this).parent().removeClass('field_with_errors');
      });
    });
  </script>
<% end %>
