<h1 class="title">
  Links

  <%= link_to 'Create', new_link_path, class: 'button is-primary is-pulled-right' %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Pixel Event Name</th>
      <th>Target URL</th>
      <th>Counter</th>
      <th>Management</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.id %></td>
        <td><%= link.title %></td>
        <td><%= link.pixel_event_name %></td>
        <td>
          <%= link_to link.target_url, target: '_blank' do %>
            <%= truncate link.target_url, length: 45 %>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link.counter %>
        </td>
        <td>
          <%= link_to edit_link_path(link), class: 'button is-primary is-inverted' do %>
            <span class="icon is-small">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span>
          <% end %>
          <%= link_to link_path(link), method: :delete,
                      data: { confirm: 'Sure?' }, class: 'button is-danger is-inverted' do %>
            <span class="icon is-small">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
          <% end %>
          <button class="clipboard button is-info is-inverted" data-clipboard-text="<%= link_url(link) %>">
            <span class="icon is-small">
              <i class="fa fa-files-o" aria-hidden="true"></i>
            </span>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    new Clipboard('.clipboard');
  });
</script>
