<h1 class="title">Links</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Target URL</th>
      <th>Management</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.id %></td>
        <td><%= link.title %></td>
        <td>
          <%= link_to link.target_url, target: '_blank' do %>
            <%= link.target_url %>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_link_path(link) %> |
          <%= link_to 'Delete', link_path(link),
                      method: :delete, data: { confirm: 'Sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
