<!DOCTYPE html>
<html>
  <head>
    <title>Coding Alpaca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <header>
        login as: <%= current_user.name %> |
        <%= link_to 'log out', logout_path, method: :delete %>
      </header>
    <% end %>

    <section class="section">
      <div class="container">
        <%= render 'flash_message' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
